{% extends "layout/basic.html" %}

{% block title %}Add advertisement{% endblock %}

{% block content %}
<h1>Add advertisement</h1>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Add">
</form>
{% endblock %}

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Add advertisement - Advertisements board</title>
</head>
<body>
  <h1>Add advertisement</h1>
  <div>
      <a href="{% url 'index' %}">Main</a>
      {% for rubric in rubrics %}
      <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>
      {% endfor %}
  </div>
  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Add">
  </form>
</body>
</html>
